body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    align-items: center;
    background-color: #007bff;
}

.nav-links a {
    margin-right: 20px;
    color: #fff;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#left-sidebar {
    flex: 1;
    padding: 20px;
}

textarea, input, button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

button {
    padding: 10px;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#get-result-button {
    background-color: #007bff;
}

#get-copy-button {
    background-color: #007bff;
}

.button-container {
    display: flex;
    gap: 10px;
}

#get-copy-button.done {
    background-color: #007bff;
    position: relative;
}

#get-copy-button.done::after {
    content: "Copy Done";
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    transform: translateY(-50%);
}

#spinResult {
    font-size: 16px;
    height: 300px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
}

#spinBoxResult {
    font-size: 16px;
    height: 300px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
    margin-top: 20px;
}
