body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

.nav-links {
    display: flex;
    align-items: center;
    background-color: #007bff;
}

.nav-links a {
    margin-right: 20px;
    color: #fff;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0; /* Remove margin */
    padding-left: 10px; /* Adjust padding-left to move content to the left */
    margin-top: -50px; /* Move content up by 20px */
}

#left-sidebar {
    flex: 1;
    padding: 20px;
    padding-left: 10px; /* Adjust padding-left to move content to the left */
}

textarea, input, button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

button {
    padding: 10px;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#get-result-button {
    background-color: #007bff;
}

#get-copy-button {
    background-color: #007bff;
}

.button-container {
    display: flex;
    gap: 10px;
}

#get-copy-button.done {
    background-color: #007bff;
    position: relative;
}

#get-copy-button.done::after {
    content: "Copy Done";
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    transform: translateY(-50%);
}

#spinResult {
    font-size: 16px;
    height: 300px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
    margin-top: 20px;
}

#spinBoxResult {
    font-size: 16px;
    height: 300px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
    margin-top: 20px;
}

footer {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 6px;
    position: relative;
    width: 100%;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

#simplefed-text {
    opacity: 0;
    transition: opacity 0.2s;
}

#simplefed-text.blink {
    opacity: 1;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    header, footer {
        font-size: 12px;
        padding: 10px;
    }
}
