body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a {
    margin-right: 20px;
    font-family: Arial;
    color: #fff;
    text-decoration: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: -20px; /* Move content up by 20px */
}

#left-sidebar {
    flex: 1;
    padding: 20px;
}

#right-sidebar {
    flex: 1;
    padding: 20px;
}

textarea,
button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

.task {
    margin-bottom: 20px;
}

.task h2 {
    margin-bottom: 10px;
}

.result {
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 10px; /* Menetapkan tinggi minimum untuk kotak hasil */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Menghilangkan konten yang melebihi kotak */
    text-overflow: ellipsis; /* Menambahkan elipsis jika teks terlalu panjang */
    white-space: nowrap; /* Mencegah teks berpindah baris */
    width: 75%; /* Menetapkan lebar kotak hasil */
    height: 13px; /* Menetapkan tinggi kotak hasil */
    position: relative; /* Menetapkan posisi relatif */
}

.result span {
    font-size: 5px; /* Ukuran font awal */
}

/* Media query untuk layar yang lebih kecil */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    #left-sidebar,
    #right-sidebar {
        flex-basis: 100%;
    }

    footer {
        font-size: 12px;
        padding: 10px;
    }
}

button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    background-color: #007bff; /* Warna biru */
    color: #fff; /* Warna teks putih */
    border: none; /* Menghapus border */
    padding: 10px; /* Mengatur padding */
    cursor: pointer; /* Mengubah kursor menjadi tangan saat dihover */
}

footer {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 6px;
    position: relative;
    width: 100%;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
    margin-top: 260px;
}

button:hover {
    background-color: #0056b3; /* Warna biru yang lebih gelap saat dihover */
}
