body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a {
    margin-right: 20px;
    color: #fff;
    text-decoration: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

#left-sidebar {
    flex: 1;
    padding: 20px;
}

#right-sidebar {
    flex: 1;
    padding: 20px;
}

textarea,
button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

.task {
    margin-bottom: 20px;
}

.task h2 {
    margin-bottom: 10px;
}

.result {
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 50px;
}

/* Media query untuk layar yang lebih kecil */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    #left-sidebar,
    #right-sidebar {
        flex-basis: 100%;
    }
}

button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    background-color: #007bff; /* Warna biru */
    color: #fff; /* Warna teks putih */
    border: none; /* Menghapus border */
    padding: 10px; /* Mengatur padding */
    cursor: pointer; /* Mengubah kursor menjadi tangan saat dihover */
}

button:hover {
    background-color: #0056b3; /* Warna biru yang lebih gelap saat dihover */
}
